---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <!--<hr />-->
  
  <div class="date">
    <!--<h6>Written on {{ page.date | date: "%m-%d-%Y" }} by {{ page.author }}</h6>-->
  </div>

<hr />

<!-- author box for Danubius-->
  <div>
  <img src="../images/danubius_logo.png" width="90" align="left" />
    <div><font style="font-size: 10px; font-family:Helvetica Neue, Helvetica, Arial;">W R I T T E N &nbsp;&nbsp;&nbsp;B Y</font>
     <div><a href="https://danubiusinfo.com/"><font style='font-size: 18px; font-family:Verdana;'>Danubius IT Solutions</font></a></div>
      <div><font style="font-size: 12px; font-family:Verdana">If we can help you with your IT development, feel free to <a href="https://danubius.io/about">contact us</a>.</font></a></div>
    </div>
  </div>

  {% include disqus.html %}
</article>
